.inputBox {
    overflow: hidden;
    height: var(--inputH);
    width: 100%;
    transition: height 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputContent {
    width: 90%;
    height: 200px;
    margin: 15px;
    padding: 20px;
    border: 3px solid black;
    border-radius: 15px;
    font-size: 18px;
}

.inputSubmit {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 700;
    color: black;
    border: 3px solid black;
    border-radius: 10px;
}

.inputSubmit:active {
    background-color: black;
    color: white;
}